@use "../scss/variables" as v;

.header {
  position: sticky;
  top: 0;
  margin-left: v.$sidebar-width-sm;
  z-index: 1000;
  transition: v.$layout-transition;
  min-height: v.$header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:host-context(.open) {
  .header {
    margin-left: v.$sidebar-width;
  }
}
