<aside class="sidebar border-end border-1 border-opacity-25 py-4">
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a href="#" class="nav-link link-body-emphasis" routerLink="dashboard">
        <i class="bi bi-house-door me-1"></i>
        Dashboard
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-body-emphasis" routerLink="products">
        <i class="bi bi-cart me-1"></i>
        Products
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-body-emphasis">
        <i class="bi bi-bag me-1"></i>
        Orders
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-body-emphasis">
        <i class="bi bi-person"></i>
        Customers
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link link-body-emphasis" aria-current="page">
        <i class="bi bi-star"></i>
        Reviews
      </a>
    </li>
  </ul>
</aside>
