@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

// -- Color system start --
$white:       #fff;
$gray-100:    #f5f7f9;
$gray-200:    #eff1f2;
$gray-300:    #dde0e3;
$gray-400:    #cfd3d7;
$gray-500:    #9a9ea4;
$gray-600:    #747579;
$gray-700:    #404448;
$gray-800:    #24292d;
$gray-900:    #0b0f13;
$black:       #000;

$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
);

$blue:        #1d3b53;
$indigo:      #6610f2;
$purple:      #6f42c1;
$pink:        #e83e8c;
$red:         #d6293e;
$orange:      #fd7e14;
$yellow:      #f7c32e;
$green:       #0cbc87;
$teal:        #20c997;
$cyan:        #17a2b8;

// scss-docs-start colors-map
$colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "black":      $black,
  "white":      $white
);

$primary:     #066ac9;
$secondary:   $gray-500;
$success:     $green;
$info:        $cyan;
$warning:     $yellow;
$danger:      $red;
$light:       $gray-100;
$dark:        $gray-800;

$theme-colors: (
  "primary":    $primary,
  "white":      $white,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "orange":     $orange,
  "purple":     $purple,
  "blue":       $blue
);
// -- Color system end --


// --Fonts start--
$font-family-base:           'Roboto', sans-serif;

// Font Sizes
$font-size-xs:                .8125rem;
$font-size-base:              1rem;
$font-size-lg:                $font-size-base * 1.25;
$font-size-sm:                $font-size-base * .875;

$font-weight-light:           400;
$font-weight-normal:          500;
$font-weight-bold:            700;

// Line Height
$line-height-base:            1.5;
$line-height-sm:              1.25;
$line-height-lg:              2;

// Headings
$h1-font-size:                $font-size-base * 3;
$h2-font-size:                $font-size-base * 2.5;
$h3-font-size:                $font-size-base * 2;
$h4-font-size:                $font-size-base * 1.75;
$h5-font-size:                $font-size-base * 1.4;
$h6-font-size:                $font-size-base;

// Font sizes
$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
);

$headings-margin-bottom:        .5rem;
$headings-font-family:          'Heebo', sans-serif;
$headings-font-weight:          $font-weight-bold;
$headings-line-height:          $line-height-sm;
$headings-color:                var(--#{$prefix}gray-800);

$display-font-sizes: (
  1: 6rem,
  2: 5.5rem,
  3: 5rem,
  4: 4.5rem,
  5: 4rem,
  6: 3.5rem
);

$display-font-weight:         $font-weight-bold;
$display-line-height:         $headings-line-height;

$lead-font-size:              $font-size-base * 1.25;
$lead-font-weight:            $font-weight-light;

$small-font-size:             .875em;

$text-muted:                  rgba(var(--#{$prefix}white-rgb), .75);

$hr-color:                    var(--#{$prefix}gray-500);
// --Fonts end--


// -- Body start --
$body-bg:                   $white;
$body-color:                $gray-600;
// -- Body end --

// -- Components start --
$box-shadow:    0px 0px 40px rgba(29, 58, 83, .15);
$box-shadow-sm: 0 .125rem .25rem rgba(29, 58, 83, .15);
$box-shadow-lg: 0 1rem 3rem rgba(29, 58, 83, .15);
$border-style:              solid;
$border-width:              1px;
$border-color:              var(--#{$prefix}gray-200);
$border-color-translucent:  rgba($black, .175);

$border-radius:             .325rem;
$border-radius-sm:          .2rem;
$border-radius-lg:          .5rem;
$border-radius-xl:          1rem;
$border-radius-2xl:         2rem;
// -- Components end --

// -- Cards start --
$card-border-color: var(--#{$prefix}border-color);
// -- Cards end --

// -- Forms start --
$input-focus-box-shadow: none;
// -- Forms end --


// --Table start --
$table-cell-padding-y: 1rem;
$table-cell-padding-x: 1rem;
$table-color: var(--#{$prefix}gray-600);
$table-hover-bg-factor:       .075;
$table-hover-bg:              rgba($primary, $table-hover-bg-factor);
// -- Table end --

// -- Dropdown start --
$dropdown-font-size: 14px;
$dropdown-item-padding-y: 10px;
$dropdown-item-padding-x: $spacer;
// -- Dropdown end --
