<form class="card mx-auto shadow border-0" [formGroup]="form" (ngSubmit)="signUp()">
  <div class="card-body">
    <h1 class="text-primary">Sign Up</h1>
    <p class="lead mb-4">Nice to see you! Please register in with your account.</p>
    <div class="form-floating mb-3">
      <input type="email"
             class="form-control"
             id="email"
             placeholder="name@example.com"
             formControlName="email"
      >
      <label for="email">Email address</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password"
             class="form-control"
             id="password"
             placeholder="Password"
             formControlName="password"
      >
      <label for="password">Password</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text"
             class="form-control"
             id="firstName"
             placeholder="Name"
             formControlName="firstName"
      >
      <label for="firstName">First Name</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text"
             class="form-control"
             id="lastName"
             placeholder="Name"
             formControlName="lastName"
      >
      <label for="lastName">Last Name</label>
    </div>
    <button class="btn btn-primary w-100">Sign Un</button>
  </div>
</form>
