@use "./scss/variables" as v;

:host(.open) {
  main {
    margin-left: v.$sidebar-width;
  }
}

main {
  margin-left: v.$sidebar-width-sm;
  transition: v.$layout-transition;
  min-height: v.$main-height;
  padding: 0 30px;
}


