<ng-template ui-page-title>
  <h4 class="page-title m-0">Products</h4>
</ng-template>

<div class="card rounded-1">
  <div class="card-body">
    <div class="row mb-3">
      <div class="col-sm-5">
        <button class="btn btn-primary rounded-1" routerLink="add">
          <i class="bi bi-plus-circle me-2"></i>
          Add Product
        </button>
      </div>
    </div>
    @if (products(); as products) {
      <app-products-table [products]="products.items"
                          (deleteProduct)="deleteProduct($event)"
      >
      </app-products-table>
    }

    @if (products()?.meta; as pagination) {
      <ui-pagination
                     [totalItems]="pagination.totalItems"
                     [itemsPerPage]="pagination.itemsPerPage"
                     [itemCount]="pagination.itemCount"
                     (change)="onPaginate($event)"
                     [currentPage]="pagination.currentPage"
      ></ui-pagination>
    }
  </div>
</div>
